<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="SCapturer"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="X-LAB"
    UpgradeCode="{AB09FD73-A839-4C71-B418-F828D4380CEA}">

    <Package
      Id="*"
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perUser"
      InstallPrivileges="limited"
      Platform="x64"
      Description="SCapturer Windows screenshot developer utility"
      Manufacturer="X-LAB" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPCOMMENTS" Value="MIT-licensed Windows screenshot developer utility by XCON / X-LAB." />
    <Property Id="ARPCONTACT" Value="XCON" />
    <Property Id="ARPHELPLINK" Value="https://github.com/End1essspace/SCapturer/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/End1essspace/SCapturer" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <Property Id="INSTALLFOLDER" Secure="yes">
      <RegistrySearch
        Id="PreviousInstallFolderSearch"
        Root="HKCU"
        Key="Software\X-LAB\SCapturer"
        Name="InstallLocation"
        Type="raw"
        Win64="yes" />
    </Property>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property
      Id="WIXUI_EXITDIALOGOPTIONALTEXT"
      Value="SCapturer is ready to use. You can also open it later from the X-LAB folder in the Start Menu." />
    <Property
      Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
      Value="Launch SCapturer" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#SCapturerExe]" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish
        Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchSCapturer">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed AND NOT WIX_UPGRADE_DETECTED
      </Publish>
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalProgramsFolder" Name="Programs">
          <Directory Id="XLabInstallFolder" Name="X-LAB">
            <Directory Id="INSTALLFOLDER" Name="SCapturer" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="XLabProgramMenuFolder" Name="X-LAB" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component
        Id="ApplicationComponent"
        Guid="{6A68D5A3-1BA3-4B82-83CE-087E4AA1FE58}"
        Win64="yes">
        <File
          Id="SCapturerExe"
          Source="$(var.SourceDir)\SCapturer.exe">
          <Shortcut
            Id="StartMenuShortcut"
            Directory="XLabProgramMenuFolder"
            Name="SCapturer"
            Description="Open the SCapturer developer console"
            WorkingDirectory="INSTALLFOLDER"
            Advertise="no" />
        </File>

        <File
          Id="LicenseFile"
          Name="LICENSE"
          Source="$(var.LicenseFile)" />

        <Shortcut
          Id="UninstallShortcut"
          Directory="XLabProgramMenuFolder"
          Name="Uninstall SCapturer"
          Description="Remove SCapturer from this Windows account"
          Target="[SystemFolder]msiexec.exe"
          Arguments="/x [ProductCode]"
          WorkingDirectory="SystemFolder"
          Advertise="no" />

        <RegistryValue
          Id="InstallLocationRegistryValue"
          Root="HKCU"
          Key="Software\X-LAB\SCapturer"
          Name="InstallLocation"
          Type="string"
          Value="[INSTALLFOLDER]" />

        <RegistryValue
          Id="ApplicationComponentKeyPath"
          Root="HKCU"
          Key="Software\X-LAB\SCapturer"
          Name="InstalledVersion"
          Type="string"
          Value="[ProductVersion]"
          KeyPath="yes" />

        <RemoveFolder
          Id="RemoveInstallFolder"
          Directory="INSTALLFOLDER"
          On="uninstall" />
        <RemoveFolder
          Id="RemoveXLabInstallFolder"
          Directory="XLabInstallFolder"
          On="uninstall" />
        <RemoveFolder
          Id="RemoveXLabProgramMenuFolder"
          Directory="XLabProgramMenuFolder"
          On="uninstall" />
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Title="SCapturer" Level="1">
      <ComponentRef Id="ApplicationComponent" />
    </Feature>

    <CustomAction
      Id="LaunchSCapturer"
      BinaryKey="WixCA"
      DllEntry="WixShellExec"
      Execute="immediate"
      Return="ignore"
      Impersonate="yes" />

    <CustomAction
      Id="ShutdownForMaintenance"
      Directory="INSTALLFOLDER"
      ExeCommand="&quot;[INSTALLFOLDER]SCapturer.exe&quot; --shutdown-for-update"
      Execute="immediate"
      Return="check"
      Impersonate="yes" />

    <CustomAction
      Id="PrepareUninstall"
      Directory="INSTALLFOLDER"
      ExeCommand="&quot;[INSTALLFOLDER]SCapturer.exe&quot; --prepare-uninstall"
      Execute="immediate"
      Return="check"
      Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="ShutdownForMaintenance" After="CostFinalize">
        WIX_UPGRADE_DETECTED OR (Installed AND NOT REMOVE="ALL")
      </Custom>
      <Custom Action="PrepareUninstall" After="ShutdownForMaintenance">
        REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE
      </Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
